@{
    ViewData["Title"] = "Gestor de Tareas";
}

<div class="input-group mb-3 mt-5">
    <input id="inputSubject" type="text" class="form-control bg-dark text-light "
           placeholder="Agrega una Nueva Asignatura">
    <button class="btn btn-success" type="button" id="btnSubjects" onclick="addSubject()">Agregar</button>
</div>

<div class="ag-courses_box">
    <!-- <div class="no-subjects">
        <p class="text-muted">No subjects yet</p>
        <i id = "icon" class="fas fa-empty-set fa-lg" style="color: #b5b5b5;"></i>
    </div> -->
</div>

<!-- scripts -->
<script src="js/subjectHandler.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>