<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listado de Materias</title>
</head>
<body>
<h1>Listado de Materias</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterar sobre la lista de materias y mostrar los datos en la tabla -->
    <tr th:each="materia : ${materias}">
        <td th:text="${materia.id}"></td>
        <td th:text="${materia.nombre}"></td>
    </tr>
    </tbody>
</table>

<h2>Agregar Nueva Materia</h2>
<form th:action="@{/materias/insert}" method="POST">
    <input type="text" name="nombre" placeholder="Nombre de la materia" required>
    <button type="submit">Agregar</button>
</form>
</body>
</html>